@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Roboto:wght@500&display=swap");

/* Ресет */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: Montserrat;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: black;
}

/* Хедер */
header {
  display: flex;
  margin-left: 80px;
}

span {
  margin-left: 23px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #5f5f5f;
  align-items: center;
  text-align: center;
  margin-top: 29px;
}
/* Логотип */
.logo {
  margin-top: 35px;
  animation: bring 2s linear;
}

@keyframes bring {
  0% {
    transform: rotateZ(0deg);
  }

  40% {
    transform: rotateZ(10deg);
  }

  60% {
    transform: rotateZ(10deg);
  }

  100% {
    transform: rotateZ(-360deg);
  }
}



span {
  margin-left: 23px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #5f5f5f;
  align-items: center;
  text-align: center;
  margin-top: 29px;
}

/* Навігація */
.navigation__list {
  display: flex;
  margin-left: 493px;
  margin-top: 40px;
}

.navigation__list li {
  margin-left: 78px;
}

.navigation__list li:first-child {
  margin-left: 0px;
}

/* Корзина */
.cart {
  margin-top: 35px;
  margin-left: 78px;
  animation: move-cart .5s linear;
}

@keyframes move-cart {
  0% {
    margin-left: 20px;
  }

  100% {
    margin-left: 78px;
  }
}



/* Main section */
main {
  background: rgb(197, 224, 247);
  background: linear-gradient(
    90deg,
    rgba(197, 224, 247, 1) 24%,
    rgba(213, 205, 224, 1) 43%,
    rgba(228, 188, 203, 1) 71%
  );
  margin-top: 65px;
}

.main {
  margin-left: 80px;
}

.main h2 {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.27em;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 165px;
}

.main h1 {
  font-weight: 400;
  font-size: 64px;
  line-height: 85px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #444444;
  width: 656px;
  height: 170px;
  margin-top: 23px;
}

.main p {
  width: 529px;
  height: 108px;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: #656565;
  padding-top: 23px;
}

/* Кнопка купити */
.btn-buy {
  margin-left: 82px;
  margin-top: 23px;
  width: 230px;
  height: 50px;
  background: #ffffff;
  box-shadow: 0px 7px 20px rgba(121, 188, 207, 0.4);
  border-radius: 100px;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #79bccf;
}



.btn-buy:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
}

.btn-buy:active {
  transform: translateY(-3px);
}

.btn-buy:hover {
  background-color: rgb(0, 238, 255);
}

/* Соц-мережі */
.soc__list {
  display: flex;
  gap: 36px;
  margin-left: 91px;
}

/* Каталог */

.catalog {
  float: right;
  margin-right: 250px;
}


@media (max-width:425px) {

  main {
      background: rgb(197, 224, 247);
      background: linear-gradient(90deg,
          rgba(197, 224, 247, 1) 24%,
          rgba(213, 205, 224, 1) 43%,
          rgba(228, 188, 203, 1) 71%);
      margin-top: 65px;
      width:425px;

    }
        .main h2 {
          font-family: "Roboto";
          font-weight: 500;
          font-size: 20px;
          line-height: 28px;
          letter-spacing: 0.27em;
          text-transform: uppercase;
          color: #ffffff;
          /* padding-top: 165px; */
        }
        .main {
          margin-left: 40px;
        }
}